<!--extends layout-->
html
  title user form
  head
    style
    link(href='css/pughead.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Pangolin', rel='stylesheet')
    embed(src='/seagull.mp3', autostart='true', loop='true', width='2', height='0')
  
block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        
        body
          
        P.p <strong> WELCOME TO MY APP - SAVE THE SEA ANIMALS </strong>

        ul.ul
            li.li
              a.a(href='/') Home
            li.li
              a.a(href='/search') Search
            li.li
              a.a(href='/register') Sign Up

        // register form
        h1.h1 Sign Up to my App (or the sea animals will cry)
        #tfheader
        form#tfnewsearch(method='POST' action='/register')
          div.form-group
            label(for='firstname') First Name:
            input#name.tftextinput(type='text', placeholder='First Name' name='firstname')
          div.form-group
            label(for='lastname') Last Name:
            input#favoriteBook.tftextinput(type='text', placeholder='Last Name' name='lastname')
          div.form-group
            label(for='email') Email:
            input#email.tftextinput(type='email', placeholder='name@email.com' name='email')
          
          button.tfbutton(type='submit') Sign up

