<!--extends layout-->
html
  title camilla's app
  head
    style
    link(href='css/pughead.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Pangolin', rel='stylesheet')
    embed(src='/waves.mp3', autostart='true', loop='true', width='2', height='0')
  
block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        
        body
        p.p <strong> WELCOME TO MY APP - SAVE THE SEA ANIMALS </strong>
        ul.ul
            li.li
              a.a(href='/') Home
            li.li
              a.a(href='/search') Search
            li.li
              a.a(href='/register') Sign Up!
        h1.h1 the following users are on my app: 
        each Indexdata in indexdata
         p.p #{Indexdata.firstname} #{Indexdata.lastname}, 
         p.p and their registered email address is 
         p.p.fetchnames #{Indexdata.email}