<!--extends layout-->
html
  title App searchbar
  head
    style
    link(href='css/pughead.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Pangolin', rel='stylesheet')
  
block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        
body
  P.p <strong> WELCOME TO MY APP - SAVE THE SEA ANIMALS </strong>
    ul.ul
      li.li
        a.a(href='/') Home
      li.li
        a.a(href='/search') Search
      li.li
        a.a(href='/register') Sign Up!  
    h1.h1 <strong> Search for any user by first name or second name </strong>
    
      p.p 
      #tfheader
        form#tfnewsearch(method='post', action='/searchhandler')
          input.tftextinput(list="suggestion-box", type='text', name='searchquery', id='input' placeholder="type a username", size='21', maxlength='120')
          datalist#suggestion-box
          input.tfbutton(type='submit', value='search')
          
      h2.h2 ps: WE LOVE THE SEA ANIMALS
    script(src='/js/jquery-3.1.1.min.js')
    script(src='/js/autocomplete2.js')

  
