html
	head 
		title your query
		
	body
		ul.ul
			li.li
				a.a(href='/') Home
			li.li
				a.a(href='/search') Search
			li.li
				a.a(href='/newuserform') Sign Up
		h1 <strong> THE FOLLOWING SEA ANIMAL IS IN THE APP </strong> 
			p #{userfound.firstname}
			p #{userfound.lastname} 
			